$default-font-color: #1d3557;
$background-color: #ffffff;
$container-bgcolor: #b7e4c7;
$container-bordercolor: #b7e4c7;
$texbox-bordercolor: #52b788;
$button-textcolor: #081c15;
$button-hovercolor: #40916c;
$add-button-color: #52b788;
$clear-button-color:#52b788;


@mixin mq($size){
    @media only screen and(min-widht: $size){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    @include mq(768px){
        font-size: 22px;
    }
}

body{
    padding: 20px;
    background-color: $background-color;
}
section{
    background-color: $container-bgcolor;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 1px solid $container-bordercolor;
    border-radius: 10px;
}